<%= form_for(@usersite) do |f| %>
  <% if @usersite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usersite.errors.count, "error") %> prohibited this usersite from being saved:</h2>

      <ul>
      <% @usersite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maxscheduler_id %><br />
    <%= f.text_field :maxscheduler_id %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
