<tr>

<td>
  <%= attribute.name %>
</td>

<td>
  <%= attribute.maxscheduler_id %>
</td>

<td>
  <%= attribute.importposition %>
</td>

<td>
  <%= attribute.listposition %>
</td>

<td>
  <%= attribute.scheduleposition %>
</td>

<td>
  <%= attribute.columnWidth %>
</td>


</tr>