  <tr>
    <td><%= job.id %></td>
    <td><%= job.site_id %></td>
    <td><%= job.user_id %></td>
    <td><%= job.resource_id %></td>
    <td><%= job.schedDateTime %></td>
    <td><%= job.schedPixelVal %></td>
    <td><%= job.attr1 %></td>
    <td><%= job.attr2 %></td>
    <td><%= job.attr3 %></td>
    <td><%= job.attr4 %></td>
    <td><%= job.attr5 %></td>
    <td><%= job.attr6 %></td>
    <td><%= job.attr7 %></td>
    <td><%= job.attr8 %></td>
    <td><%= job.attr9 %></td>
    <td><%= job.attr10 %></td>
    <td><%= job.attr11 %></td>
    <td><%= job.attr12 %></td>
    <td><%= job.attr13 %></td>
    <td><%= job.attr14 %></td>
    <td><%= job.attr15 %></td>
    <td><%= job.attr16 %></td>
    <td><%= job.attr17 %></td>
    <td><%= job.attr18 %></td>
    <td><%= job.attr19 %></td>
    <td><%= job.attr20 %></td>
    <td><%= job.attr21 %></td>
    <td><%= job.attr22 %></td>
    <td><%= job.attr23 %></td>
    <td><%= job.attr24 %></td>
    <td><%= job.attr25 %></td>
    <td><%= job.attr26 %></td>
    <td><%= job.attr27 %></td>
    <td><%= job.attr28 %></td>
    <td><%= job.attr29 %></td>
    <td><%= job.attr30 %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
