<h1>Complete job listing - scheduled and unscheduled</h1>
<br>

<!-- datatables th part -->

        <style type="text/css" title="currentStyle">
            @import "./css/demo_page.css";
            @import "./css/demo_table.css";
        </style>
        <script type="text/javascript" language="javascript" src="DataTables%20example_files/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="DataTables%20example_files/jquery_002.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('#example').dataTable( {
                    "sScrollY": "400px",
                    "sScrollX": "1300px",
                    "bPaginate": false
                } );
            } );
        </script>
    </head>
    <body>
    <div id="container" >
            
            <div id="demo">

<table cellpadding="0" cellspacing="0" border="1" class="display" id="example" >

<!-- datatables th end part-->


  <thead>

  <tr>
    <th></th>
    <th></th>
    <th></th>
	<% @attributes.each do |attr| %>
    	<% if attr.name %>
	    	<th><%= attr.name %></th>   
    	<% end %>
	<% end %> <!--attributeLoop -->
    <th>Resource</th>
    <th>DateTime</th>
    <th>PixelVal </th>
    <th>Site</th>
    <th>User</th>
  </tr>
</thead>

<tbody>

<% @jobs.each do |job| %>
<% i=1 %>
<tr>
  	<td><%= link_to 'S',job, :class => 'btn btn-info' %></td>
    <td><%= link_to 'E', edit_job_path(job), :class => 'btn btn-info' %></td>
    <td><%= link_to 'D', job, :class => 'btn btn-primary', confirm: 'Are you sure?', method: :delete %></td>
	<!--attributeLoop -->
    <% @attributes.each do |attr| %>
    	<% if attr.name %>
    	<% @x = "attr"+i.to_s %>
    	<td><%= job[@x] %></td>   
    	<% i=i+1 %>
    	<% end %>
	<% end %> 
    <td>
        <% if (job.resource_id == '0') %>
        <%= 'Not Scheduled' %>
        <% else %>
        <%= Resource.find(job.resource_id).name %>
        <% end %>
    </td>
    <td><%= job.schedDateTime %></td>
    <td><%= job.schedPixelVal %></td>
    <td><%= Site.find(job.site_id).name %></td>
    <td><%= User.find(job.user_id).FirstName %> , <%= User.find(job.user_id).LastName %> </td>
</tr>	
<% end %> <!--jobLoop -->

</tbody>

</table>	
<br>	

<br />

<%= link_to 'New Job', new_job_path %>
