<p id="notice"><%= notice %></td>

<td>
  <b>Site:</b>
  <%= @job.site_id %>
</td>

<td>
  <b>User:</b>
  <%= @job.user_id %>
</td>

<td>
  <b>Resource:</b>
  <%= @job.resource_id %>
</td>

<td>
  <b>ScheddateTime:</b>
  <%= @job.schedDateTime %>
</td>

<td>
  <b>SchedPixelVal :</b>
  <%= @job.schedPixelVal  %>
</td>

<!--attributeLoop -->
<table border="1">

    <% i=1 %>
<%= form_for(@job) do |f| %>
    <% @attributes.each do |attr| %>
      <% if attr.name %>
      <% @x = '@job.attr'+i.to_s %>
          <tr>
          <td><b><%= attr.name %></b></td>
          <td><%= f.text_field "attr"+i.to_s %></td>
          </tr>
      <% i=i+1 %>
      <% end %>
  <% end %>
<% end %>

</table>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
