<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.userLevel == 'Admin' %>
        MaxSchedulerId <br>
        <%= f.text_field :maxscheduler_id %>
  <% else %>
        <%= f.hidden_field :maxscheduler_id, :value => @maxschedulerId %>
  <% end %>

  <div class="field">
    <%= f.label :FirstName %><br />
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label :LastName %><br />
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :schedStartDate %><br />
    <%= f.text_field :schedStartDate %>
  </div>
  <div class="field">
    <%= f.label :numberOfWeeks %><br />
    <%= f.text_field :numberOfWeeks %>
  </div>
  <div class="field">
    <%= f.label :timeZone %><br />
    <%= f.text_field :timeZone %>
  </div>
  <div class="field">
    Schedule Width<br />
    <%= f.text_field :DeskSchedWidth %>
  </div>
    <div class="field">
    Schedule Listview Height<br />
    <%= f.text_field :SchedListHeight %>
  </div>
    <div class="field">
    Schedule Height<br />
    <%= f.text_field :SchedHeight %>
  </div>
  </div>
    <div class="field">
    User level: Scheduler, Editor, Viewer<br />
    <%= f.text_field :userLevel %>
  </div>
  <div>
  Current Site<br>
      <%= f.select :currentSite, Site.where("maxscheduler_id = ?", @maxschedulerId).collect {|site| [ site.name, site.id ] }, :style => 'width: 50px;'  %>
  </div>
  <div>
      Current Board<br>
      <%= f.select :currentBoard, Board.where("maxscheduler_id = ?", @maxschedulerId).collect {|board| [ board.name, board.id ] }, :style => 'width: 50px;'  %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

userLevel
