<h1>Import Data screen</h1>

<%= form_for(@importdatum) do |f| %>
  <% if @importdatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@importdatum.errors.count, "error") %> prohibited this importdatum from being saved:</h2>

      <ul>
      <% @importdatum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :maxscheduler_id, :value => @maxschedulerId %>
  <%= f.hidden_field :site_id, :value => @siteId %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="col-xs-4" >

<br>
    Copy and Paste import data into field below. Remember for importing from MaxScheduler desktop, <b>MUST HAVE EXACT</b> match of Attribute names and ID field.<br />
<br>
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create Import Data entry" />
  </div>
<% end %>


<%= link_to 'Back', importdata_path %>
