<p id="notice"><%= notice %></p>

<p>
  <b>Maxscheduler:</b>
  <%= @importdatum.maxscheduler_id %>
</p>

<p>
  <b>Site:</b>
  <%= @importdatum.site_id %>
</p>

<p>
  <b>User:</b>
  <%= @importdatum.user_id %>
</p>

<p>
  <b>Data:</b>
  <%= @importdatum.data %>
</p>


<%= link_to 'Edit', edit_importdatum_path(@importdatum) %> |
<%= link_to 'Back', importdata_path %> <br>
<br>
<a href=/importdata/<%= @importdatum.id.to_s %>/review><b>Data Review</b></a> <br>
<a href=/importdata/<%= @importdatum.id.to_s %>/reviewDesktopListViewJobs><b>Desktop export Listview jobs review</b></a> <br>
<a href=/importdata/<%= @importdatum.id.to_s %>/reviewDesktopScheduledJobs><b>Desktop export Scheduled jobs review</b></a> <br>
