<link type="text/css" rel="stylesheet" media="all" href="/object_style.css?body=1">

<script src="/js/object_script.js?body=1" type="text/javascript"></script>

<!--meta http-equiv="refresh" content="6000; url=http://localhost:80/scheduler/showData"--> 

<html><head>
<form accept-charset="UTF-8" action="http://localhost:3000/jobs/moveDown/" method="post"><div style="margin:0;padding:0;display:inline">
<input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" />

<b>Job Shifter</b> Id: <input type="text" name="jobId" value="" style="width: 20px;" > 

Amount: <input  type="text" name="shiftAmount" value="" style="width: 20px;" >

<input name="commit" type="submit" value="Move Job">

</form>

&nbsp;&nbsp;&nbsp;&nbsp;<b>Sites</b>: <% @sites.each do |site| %><a href="/users/setSite/<%= site.id %>"><%= site.name %></a>&nbsp;&nbsp;<% end %> &nbsp;&nbsp;&nbsp;&nbsp;
<b>Boards</b>: <% @boards.each do |board| %><a href="/users/setBoard/<%= board.id %>"><%= board.name %></a>&nbsp;&nbsp;<% end %> 

&nbsp;&nbsp;<%= link_to 'Config', sites_path , :class => 'btn btn-info' %>&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;<%= link_to 'New Job', new_job_path , :class => 'btn btn-info' %>&nbsp;&nbsp;&nbsp;

<script type="text/javascript">

document.getElementById("header").innerHTML=" "

//JavaScrip array built to hold job data
<%=raw @jobAry %>

var MXS_table_data = 
{"table_width":1130 ,"fcol_width":<%= @site.dateTimeColumnWidth %> , "rcol_width":385 ,"row_height":<%= @site.rowHeight %> 
,"row_num":<%= @numberOfRows %> ,"header_height":18};

//JavaScript array used to build the date/time column
<%=raw @dateTimeAry %>

//JavaScript array used to describe the Board and Resources
<%=raw @boardResourceAry %>

var MXS_url = "http://localhost:3000/scheduler/showData";
var MXS_posting_url = "http://localhost:3000";

<%=raw @columnWidthsHash %>

document.getElementById("header").style.visiblity = 'hidden'

</script>

</head><body>
		<div id="root"></div></div><div id="hidden"></div><form id="load_form" name="ref_form" action="./scheduler/showData">	
		</form></body></html>





