<tr>

<td>
  <%= resource.maxscheduler_id %>
</td>

<td>
  <%= resource.site_id %>
</td>

<td>
  <%= resource.name %>
</td>

<td>
  <%= resource.position %>
</td>

<td>
  <%= resource.board_id %>
</td>

</tr>