<%= form_for(@operationhour) do |f| %>
  <% if @operationhour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operationhour.errors.count, "error") %> prohibited this operationhour from being saved:</h2>

      <ul>
      <% @operationhour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :maxscheduler_id, :value => @maxschedulerId %>
  <div class="field">
    Site <br />
    <%= f.select :site_id, Site.where("maxscheduler_id = ?", @maxschedulerId).collect {|site| [ site.name, site.id ] }, :style => 'width: 50px;'  %>  </div>
  </div>
  <div class="field">
    <%= f.label :dayOfTheWeek %><br />
    <%= f.text_field :dayOfTheWeek %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :numberOfRows %><br />
    <%= f.text_field :numberOfRows %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
