<h1>Listing operationhours</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Maxscheduler</th>
    <th>Site</th>
    <th>Dayoftheweek</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operationhours.each do |operationhour| %>
  <tr>
    <td><%= operationhour.maxscheduler_id %></td>
    <td><%= operationhour.site_id %></td>
    <td><%= operationhour.dayOfTheWeek %></td>
    <td><%= operationhour.start %></td>
    <td><%= operationhour.end %></td>
    <td><%= link_to 'Show', operationhour, :class => 'btn btn-info'  %></td>
    <td><%= link_to 'Edit', edit_operationhour_path(operationhour), :class => 'btn btn-info'  %></td>
    <td><%= link_to 'Destroy', operationhour , :class => 'btn btn-danger', confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operationhour', new_operationhour_path %>

<br><br>
JobTime = <%=raw @timeOfRow.to_s %>
<br><br>
JobTime = <%=raw @secondsInRow.to_s %>
<br><br>
JobTime = <%=raw @jobTime %>
<br><br>
JobTime = <%=raw @jobTime.to_time %>
<br><br>
<%=raw @dateHash.to_s %>
