<p id="notice"><%= notice %></p>

<p>
  <b>Maxscheduler:</b>
  <%= @operationhour.maxscheduler_id %>
</p>

<p>
  <b>Site:</b>
  <%= @operationhour.site_id %>
</p>

<p>
  <b>Dayoftheweek:</b>
  <%= @operationhour.dayOfTheWeek %>
</p>

<p>
  <b>Start:</b>
  <%= @operationhour.start %>
</p>

<p>
  <b>End:</b>
  <%= @operationhour.end %>
</p>


<%= link_to 'Edit', edit_operationhour_path(@operationhour) %> |
<%= link_to 'Back', operationhours_path %>
