<tr>

<td id="notice"><%= notice %></td>

<td>
  <%= site.name %>
</td>

<td>
  <%= site.maxscheduler_id %>
</td>

<td>
  <%= site.rowTimeIncrement %>
</td>

<td>
  <%= site.dateTimeColumnWidth %>
</td>

<td>
  <%= site.rowHeight %>
</td>

<td>
  <%= site.numberOfWeeks %>
</td>

</tr>