<h1>Editing site</h1>
<br> 
<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name: <br> <%= f.text_field :name %>
  </div>
  <div class="field">
    Row time increment: <br> <%= f.text_field :rowTimeIncrement %>
  </div>
  <div class="field">
    Date time column width: <br> <%= f.text_field :dateTimeColumnWidth %>
  </div>
  <div class="field">
    Row height: <br> <%= f.text_field :rowHeight %>
  </div>
  <div class="field">
    Default job length: <br> <%= f.text_field :defaultJobLength %>
  </div>
  <div class="field">
    Scheduled Job Delimiter: <br> <%= f.text_field :schedItemDelimiter %>
  </div>
  <div class="field">
    Unique Attribute(s) for data import: <br> <%= f.text_field :uniqueDataFields %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', sites_path %>
