<h1>Sites</h1>
<br>
<b>Your company may have more than one location which needs a schedule. In this area you can enter in the names of each site and some setup details for each schedule.</b>
<br>
<br>

<table id="sites" class="table table-striped table-bordered table-condensed">

  <thead>
  <tr>
    <th>Name</th>
    <th>Row time increment</th>
    <th>Date time column width</th>
    <th>Row Height</th>
    <th>Default job length</th>
    <th>Number of weeks</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= site.rowTimeIncrement %></td>
    <td><%= site.dateTimeColumnWidth %></td>
    <td><%= site.rowHeight %></td>
    <td><%= site.defaultJobLength %></td>
    <td><%= site.numberOfWeeks %></td>
    <td><%= link_to 'Edit', edit_site_path(site), :class => 'btn btn-info'   %></td>
    <td><%= link_to 'Delete', site, :class => 'btn btn-danger', confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
<br>

<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <tr><td colspan=7><b>Add a new entry below:</b></td></tr>

  <tr>
  	<%= f.hidden_field :maxscheduler_id, :value => @maxschedulerId %>
    <td><%= f.text_field :name, :style => 'width: 120px;' %></td>
    <td><%= f.text_field :rowTimeIncrement, :style => 'width: 120px;' %></td>
    <td><%= f.text_field :dateTimeColumnWidth, :style => 'width: 120px;' %></td>
  	<td><%= f.text_field :rowHeight, :style => 'width: 120px;' %></td>
    <td><%= f.text_field :defaultJobLength, :style => 'width: 120px;' %></td>
  	<td><%= f.text_field :numberOfWeeks, :style => 'width: 120px;' %></td>
  	<td></td>
  	<td></td>
  </tr>
  <tr><td colspan=7><%= f.submit nil , :class => 'btn btn-primary'  %></td></tr>

<% end %>

</table>
