<p id="notice"><%= notice %></td>

<td>
  <b>Name:</b>
  <%= @site.name %>
</td>

<td>
  <b>Maxscheduler:</b>
  <%= @site.maxscheduler_id %>
</td>

<td>
  <b>Rowtimeincrement:</b>
  <%= @site.rowTimeIncrement %>
</td>

<td>
  <b>Datetimecolumnwidth:</b>
  <%= @site.dateTimeColumnWidth %>
</td>

<td>
  <b>Row Height:</b>
  <%= @site.rowHeight %>
</td>

<td>
  <b>Number of Weeks:</b>
  <%= @site.numberOfWeeks %>
</td>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
