<h1>Listing maxschedulers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Paying</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maxschedulers.each do |maxscheduler| %>
  <tr>
    <td><%= maxscheduler.name %></td>
    <td><%= maxscheduler.paying %></td>
    <td><%= link_to 'Show', maxscheduler %></td>
    <td><%= link_to 'Edit', edit_maxscheduler_path(maxscheduler) %></td>
    <td><%= link_to 'Destroy', maxscheduler, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Maxscheduler', new_maxscheduler_path %>
