<p id="notice"><%= notice %></td>

<td>
  <b>Name:</b>
  <%= @maxscheduler.name %>
</td>

<td>
  <b>Paying:</b>
  <%= @maxscheduler.paying %>
</td>

<%= link_to 'Edit', edit_maxscheduler_path(@maxscheduler) %> |
<%= link_to 'Back', maxschedulers_path %>

